<!DOCTYPE html>
<html>
  <head>
    <title>SmartmailCodeExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://github.com/Nerian/code_example_smart_mail" target="_blank">See code on Github</a>
        </li>
      </ul>

      <span class="navbar-text"><a href="http://nerian.es/" target="_blank">Made by Gonzalo Rodríguez-Baltanás Díaz</a></span>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
